<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        table
        {
            width: 100%;
            border-collapse: collapse; 
            border: 3px solid black;
        }

        td, th
        {
            border: 3px solid black; 
            text-align: left;
            padding: 10px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div>
        <table>
            <tr>
                <td colspan="5">THÔNG TIN SINHN VIÊN</td>
            </tr>
            <tr>
                <td rowspan="4">
                    <img src="~/Content/Images/Call center manager taking calls.jpg" width="350"/>
                </td>
                <td>HỌ VÀ TÊN</td>
                <th colspan="3">Nguyễn Văn An</th>
            </tr>
            <tr>
                <td>MÃ SỐ SINH VIÊN</td>
                <th>19DH110110</th>
                <td>GIỚI TÍNH</td>
                <th>NAM</th>
            </tr>
            <tr>
                <td>EMAIL</td>
                <th>an@gmail.com</th>
                <td>SỐ ĐIỆN THOẠI</td>
                <th>01234567890</th>
            </tr>
            <tr>
                <td>SỞ THÍCH</td>
                <th colspan="3">VIẾT CHƯƠNG TRÌNH</th>
            </tr>
        </table>
    </div>
</body>
</html>
