<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        table 
        {
            width: 100%;
            border-collapse: separate;
            border-spacing: 20px;
            border: 100px;
        }
        td
        {
            border: 100px ;
            text-align: center;
            background-color: lightgreen;
            height: 200px;
        }
    </style>
</head>
<body>
    <div align="center">
            <strong>MY PORTFOLIO</strong> 
            <div><br /></div>
    </div>   
    <div align="center">
        <ul style="list-style: none; padding: 0; display: inline-flex; gap: 20px; margin-bottom: 20px;">
            <li style="cursor: pointer; font-weight: bold" ;>All</li>
            <li style="cursor: pointer;">Web App</li>
            <li style="cursor: pointer;">UI/UX</li>
            <li style="cursor: pointer;">Graphics Design</li>
            <li style="cursor: pointer;">Mobile App</li>
            <li style="cursor: pointer;">Branding</li>
            <li style="cursor: pointer;">Marketing</li>
        </ul>
    </div>
    <table align="center">
        <tr align="center">
            <td>HỌC WEB CHUẨN</td>
            <td>HỌC WEB CHUẨN</td>
            <td>HỌC WEB CHUẨN</td>
        </tr>
        <tr align="center">
            <td>HỌC WEB CHUẨN</td>
            <td>HỌC WEB CHUẨN</td>
            <td>HỌC WEB CHUẨN</td>
        </tr>
        <tr align="center">
            <td>HỌC WEB CHUẨN</td>
            <td>HỌC WEB CHUẨN</td>
            <td>HỌC WEB CHUẨN</td>
        </tr>
    </table>
    
</body>
</html>
